/* 缩小并覆盖 */
.scale-down-and-cover-enter-active,
.scale-down-and-cover-leave-active {

  transition: .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.scale-down-and-cover-enter-from {
  opacity: 0;
  filter: blur(10px);
  transform: scale(1.5);
}

.scale-down-and-cover-enter-to {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}

.scale-down-and-cover-leave-from {

  top: 0;

  opacity: 1;
  transform: scale(1);
}

.scale-down-and-cover-leave-to {
  z-index: -1;

  top: -100%;
  margin-bottom: -56.5%;

  opacity: 0;
  filter: blur(10px);
  transform: scale(.85);
}

/* 放大并覆盖 */
.scale-up-and-cover-enter-active,
.scale-up-and-cover-leave-active {

  transition: .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.scale-up-and-cover-enter-from {
  margin-top: -100%;

  opacity: 0;
  filter: blur(10px);
  transform: scale(1.5);
}

.scale-up-and-cover-enter-to {
  margin-top: -56.5%;

  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}

.scale-up-and-cover-leave-from {
  z-index: -1;

  top: 0;

  opacity: 1;
  transform: scale(1);
}

.scale-up-and-cover-leave-to {

  top: 100%;

  opacity: 0;
  filter: blur(10px);
  transform: scale(1.5);
}



/* 淡入淡出 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}