shamefully-hoist=true
electron_mirror="https://npm.taobao.org/mirrors/electron/"
electron-builder-binaries_mirror=https://npm.taobao.org/mirrors/electron-builder-binaries/
# registry="https://registry.npmmirror.com"