shamefully-hoist=true
# electron_mirror="https://registry.npmmirror.com/electron/"
# electron-builder-binaries_mirror=https://registry.npmmirror.com/mirrors/electron-builder-binaries/
# registry="https://registry.npmmirror.com"
# proxy=http://localhost:7890
# https-proxy=http://localhost:7890
# strict-ssl=false