html, body, #app {
  position: relative;
  margin: 0;
  padding: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden
}

html.dark {
  --el-box-shadow-lighter: 0 0 0 1px rgba(255, 255, 255, .2) !important;
  --el-box-shadow: 0 0 4px 1px rgba(29, 29, 29, .2) !important;
}

html.coloring {
  #app {
    top: 1px;
    left: 1px;

    width: calc(100% - 4px);
    height: calc(100% - 4px);

    border: 1px solid transparent;
    border-radius: 8px;
    transition: border .25s;
    &:hover {
      border: 1px solid var(--el-color-primary);
    }
  }
}

.el-scrollbar__bar.is-vertical {
  width: 3px !important;
}

.el-scrollbar__bar.is-horizontal {
  height: 3px !important;
}

.blur .fake-background {
  &:before {
    opacity: var(--fake-opacity, .75);
  }
}

.fake-background.transition {
  transition: transform .25s;
}

.fake-background.index-fix {
  z-index: var(--fake-fix-index, 0);
}

.fake-background {
  &:before {
    z-index: var(--fake-index, -1);
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--fake-color, var(--el-fill-color-lighter));
    border-radius: var(--fake-radius, 8px);
  }
  position: relative; // make sure background adapt to parent
}

span.tag {
  padding: 2px 4px;

  text-align: center;

  border-radius: 4px;
  background-color: var(--el-fill-color);
}

.Blur-Container {
  &.display {
    opacity: 1;
    pointer-events: unset;
  }
  z-index: 1000;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  //opacity: 0.5;
  //pointer-events: none;
  transition: .25s;
  border-radius: 0 8px 8px 0;

  --fake-opacity: .75;
  //backdrop-filter: blur(18px) saturate(180%) brightness(1.8);
}

html.blur .Blur-Container {
  backdrop-filter: blur(18px) saturate(180%) brightness(1.8);
}

html.coloring .Blur-Container {
  top: 2px;

  height: calc(100% - 8px);
  width: calc(100% - 68px);
}

html.fullscreen .Blur-Container {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}