@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #0c23ff,
    )
  ),
);

@use 'element-plus/theme-chalk/dark/css-vars.css' as *;
@use "element-plus/theme-chalk/src/index.scss" as *;