shamefully-hoist=true
# electron_mirror="https://registry.npmmirror.org/mirrors/electron/"
# electron-builder-binaries_mirror=https://registry.npmmirror.com/mirrors/electron-builder-binaries/
# registry="https://registry.npmmirror.com"
node-linker=hoisted